:root {
    --primary-color: #eee5d8;
    --secondary-light: #caba94;
    --secondary-dark: #343432;
    --accent: #fe771d;

    --screenbezel-bg: #130202;
    --screen-bg: #210303;
    --screen-text: #ff7ac9;

    --key-spacing: 0px;
    --click-margin: 4px;
    --content-padding: 20px;
}

@font-face {
    font-family: "DSEG";
    src: url(assets/fonts/DSEG_v046/DSEG7ClassicMini-BoldItalic.ttf);
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: "seg7";
    src: url(assets/fonts/seg7.woff);
}

@font-face {
    font-family: "7segment";
    src: url(assets/fonts/7segment.woff);
}

body {
    min-height: 100vh;
    background-color: #161616;
    display: flex;
    margin: 0px;
    justify-content: center;
    align-items: center;
}

.case {
    box-sizing: border-box;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-light);
    padding: 20px;
    padding-top: 80px;

    border-radius: 20px;
}

.keypad {
    background-color: var(--secondary-dark);
    display: flex;
    flex-direction: column;
    padding: var(--content-padding);
    gap: var(--key-spacing);
}
.row {
    display: flex;
    gap: var(--key-spacing);
}
.keypad button {
    flex: 1;
    aspect-ratio: 1 / 1 ;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 4px; */
    box-sizing: border-box;
    margin: var(--click-margin);
    border: solid 1px black;
    cursor: pointer;
    box-shadow: var(--click-margin) var(--click-margin) black;

    font-family: "Varela Round";
    font-weight: bold;
    font-size: 30px;
    border-radius: 8px;
}


.operator,
.function,
.controls {
    background-color: var(--secondary-light);
}

.number {
    background-color: var(--primary-color);
}

#equals {
    background-color: var(--accent);
}
.keypad button:hover {
    filter: brightness(0.5);
}
.keypad button:active {
    margin: calc(2 * var(--click-margin)) 0 0 calc(2 * var(--click-margin));
    box-shadow: none;
}
.keypad button:disabled {
    margin: calc(2 * var(--click-margin)) 0 0 calc(2 * var(--click-margin));
    opacity: 1;
    /* background-color: gray; */
    cursor: not-allowed;
    box-shadow: none;
}
#zero, #equals {
    aspect-ratio: unset;
    flex: 1.5;
}


.screen-bezel {
    border-radius: 30px 30px 0px 0px;
    padding: 20px;
    background-color: var(--screenbezel-bg);
    border-bottom: solid black 2px;
    padding: var(--content-padding);
    position: relative;
    display: flex;
    justify-content:flex-end;
    align-items: center;
}
.screen {
    color: var(--screen-text);
    color: rgb(246, 118, 118);
    text-align: right;
    font-family: "DSEG", monospace;
    font-size: 30px;
    text-shadow: 
        0 0 15px red,
        0 0 8px rgb(252, 133, 133);
    padding: 8px;
    position: absolute;
    z-index: 1;
}
.background-screen {
    background-color: var(--screen-bg);
    color: rgb(60, 0, 0);
    text-align: right;
    font-family: "DSEG", monospace;
    font-size: 30px;
    /* text-shadow: 
        0 0 15px red,
        0 0 8px pink; */

    padding: 8px;
    z-index: 0;
    user-select: none;
}
